# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [2]:
import pandas as pd

data = pd.read_csv('datasets/movies.csv')
display(data.head())

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0

### Qual o diretor dirigiu mais filmes?

In [7]:
diretores = data['Director'].groupby(data['Director']).count()
print(diretores.sort_values(ascending=False).head(10))

Director
Steven Spielberg        23
Woody Allen             16
Spike Lee               15
Martin Scorsese         15
Ridley Scott            14
Francis Ford Coppola    13
Brian De Palma          13
Richard Donner          12
Robert Rodriguez        12
Robert Zemeckis         12
Name: Director, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [10]:
lucro = data[['Title', 'US Gross', 'Production Budget']]
lucro['Profit'] = lucro['US Gross'] - lucro['Production Budget']
display(lucro.sort_values(by='Profit', ascending=False).head(10))

C:\Users\pedro\AppData\Local\Temp\ipykernel_13904\2201184057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lucro['Profit'] = lucro['US Gross'] - lucro['Production Budget']

,Title,US Gross,Production Budget,Profit
1234,Avatar,760167650.0,237000000.0,523167650.0
912,Star Wars Ep. IV: A New Hope,460998007.0,11000000.0,449998007.0
296,ET: The Extra-Terrestrial,435110554.0,10500000.0,424610554.0
2970,Titanic,600788188.0,200000000.0,400788188.0
2741,Shrek 2,441226247.0,70000000.0,371226247.0
1266,The Dark Knight,533345358.0,185000000.0,348345358.0
2488,The Passion of the Christ,370782930.0,25000000.0,345782930.0
2883,Star Wars Ep. I: The Phantom Menace,431088297.0,115000000.0,316088297.0
485,Jurassic Park,357067947.0,63000000.0,294067947.0
2202,The Lord of the Rings: The Return of the King,377027325.0,94000000.0,283027325.0